.wraper_body{
    width: 1600px;
    height: 780px;
    background-image: url("/images/gradient_backgound.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    margin: auto;
}
.form_container{
    width: 50%;
    height: 50%;
    background-color: white;
    position: fixed;
    bottom: 30%;
    right: 25%;
    border-radius: 25px;
    box-shadow: 2px 3px 5px 5px rgba(0, 0, 0, 0.101);
}


